# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Playwright-related files
playwright-report/
test-results/
*.log
*.zip
*.har

# Pytest cache
.cache/
.pytest_cache/

# Environment variables
.env

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db